In [3]:
import pandas as pd

df_train = pd.read_csv('train.csv', sep=',', index_col=False)
df_test = pd.read_csv('test.csv', sep=',', index_col=False)

## SVD++

In [8]:
import pandas as pd
from surprise import Dataset, Reader, SVDpp

# Definir el lector con la escala de ratings (ajustar si es diferente)
reader = Reader(rating_scale=(0, 10))

# Cargar datos de entrenamiento
data = Dataset.load_from_df(df_train[['user', 'item', 'rating']], reader)
trainset = data.build_full_trainset()

# Entrenar el modelo SVD++
model = SVDpp()
model.fit(trainset)

# Generar predicciones para el conjunto de test
predictions = [
    (idx, model.predict(row['user'], row['item']).est)
    for idx, row in df_test.iterrows()
]

# Convertir a DataFrame
predictions_df = pd.DataFrame(predictions, columns=['ID', 'rating'])


predictions_df.to_csv('predictions_svd++.csv', index=False)

In [13]:
predictions_df

          ID    rating
0          0  7.665822
1          1  7.828304
2          2  5.396603
3          3  8.416123
4          4  7.082956
...      ...       ...
43315  43315  6.973361
43316  43316  8.810983
43317  43317  7.665153
43318  43318  6.821205
43319  43319  8.852613

[43320 rows x 2 columns]